{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-offset-md-3">
      <h1>Shiver Me Timbers</h1>
      <p>This blog contains <a href="detail-entry-example.html"> the adventures of Capt. McGillicutty</a> to places out yonder.</p>
      <p>This blog leaves no adventure uncovered.<a href="detail-book-shipping-news.html">It explores everything</a> from battles with mythical beasts to turbulance out sea.</p>
   
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
